/KafkaConsumer/.vs/KafkaConsumer/DesignTimeBuild/.dtbcache
/KafkaConsumer/.vs/KafkaConsumer/v15/.suo
/KafkaConsumer/.vs/KafkaConsumer/v15/Server/sqlite3/db.lock
/KafkaConsumer/.vs/KafkaConsumer/v15/Server/sqlite3/storage.ide
/KafkaConsumer/.vs/KafkaConsumer/v15/Server/sqlite3/storage.ide-shm
/KafkaConsumer/.vs/KafkaConsumer/v15/Server/sqlite3/storage.ide-wal
/KafkaConsumer/.vs/KafkaConsumer/v16/.suo
/KafkaConsumer/.vs/KafkaConsumer/v16/Server/sqlite3/db.lock
/KafkaConsumer/.vs/KafkaConsumer/v16/Server/sqlite3/storage.ide
/KafkaConsumer/.vs/KafkaConsumer/v16/Server/sqlite3/storage.ide-shm
/KafkaConsumer/.vs/KafkaConsumer/v16/Server/sqlite3/storage.ide-wal
/KafkaConsumer/.vs/KafkaConsumer/v16/TestStore/0/testlog.manifest
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/CashierAPI.dll
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/CashierAPI.pdb
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/Desktop
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/ExternalServices.dll
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/ExternalServices.pdb
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/KafkaConsumer.deps.json
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/KafkaConsumer.dll
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/KafkaConsumer.pdb
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/KafkaConsumer.runtimeconfig.dev.json
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/KafkaConsumer.runtimeconfig.json
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.AssemblyInfo.cs
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.AssemblyInfoInputs.cache
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.assets.cache
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.csproj.CopyComplete
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.csproj.CoreCompileInputs.cache
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.csproj.FileListAbsolute.txt
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.csprojAssemblyReference.cache
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.dll
/KafkaConsumer/KafkaConsumer/obj/Debug/netcoreapp2.0/KafkaConsumer.pdb
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/ExternalServices.dll
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/ExternalServices.pdb
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/GamesEngine.dll
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/GamesEngine.pdb
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/KafkaProducer2.deps.json
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/KafkaProducer2.dll
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/KafkaProducer2.pdb
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/KafkaProducer2.runtimeconfig.dev.json
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/KafkaProducer2.runtimeconfig.json
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/Puppeteer.dll
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/Puppeteer.pdb
/KafkaProducer/.vs/KafkaProducer2/DesignTimeBuild/.dtbcache
/KafkaProducer/.vs/KafkaProducer2/v15/.suo
/KafkaProducer/.vs/KafkaProducer2/v15/Server/sqlite3/db.lock
/KafkaProducer/.vs/KafkaProducer2/v15/Server/sqlite3/storage.ide
/KafkaProducer/.vs/KafkaProducer2/v15/Server/sqlite3/storage.ide-shm
/KafkaProducer/.vs/KafkaProducer2/v15/Server/sqlite3/storage.ide-wal
/KafkaProducer/.vs/KafkaProducer2/v16/.suo
/KafkaProducer/.vs/KafkaProducer2/v16/Server/sqlite3/db.lock
/KafkaProducer/.vs/KafkaProducer2/v16/Server/sqlite3/storage.ide
/KafkaProducer/.vs/KafkaProducer2/v16/Server/sqlite3/storage.ide-shm
/KafkaProducer/.vs/KafkaProducer2/v16/Server/sqlite3/storage.ide-wal
/KafkaProducer/.vs/KafkaProducer2/v16/TestStore/0/testlog.manifest
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.AssemblyInfo.cs
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.AssemblyInfoInputs.cache
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.assets.cache
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.csproj.CopyComplete
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.csproj.CoreCompileInputs.cache
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.csproj.FileListAbsolute.txt
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.csprojAssemblyReference.cache
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.dll
/KafkaProducer/KafkaProducer2/obj/Debug/netcoreapp2.0/KafkaProducer2.pdb
/KafkaProducer/KafkaProducer2/.vs/KafkaProducer2/v16/.suo
/KafkaProducer/KafkaProducer2/.vs/ProjectSettings.json
/KafkaProducer/KafkaProducer2/.vs/VSWorkspaceState.json
/KafkaProducer/KafkaProducer2/.vs/slnx.sqlite
/KafkaConsumer/KafkaConsumer/obj/KafkaConsumer.csproj.nuget.cache
/KafkaConsumer/KafkaConsumer/obj/KafkaConsumer.csproj.nuget.dgspec.json
/KafkaConsumer/KafkaConsumer/obj/KafkaConsumer.csproj.nuget.g.props
/KafkaConsumer/KafkaConsumer/obj/KafkaConsumer.csproj.nuget.g.targets
/KafkaProducer/KafkaProducer2/obj/KafkaProducer2.csproj.nuget.cache
/KafkaProducer/KafkaProducer2/obj/KafkaProducer2.csproj.nuget.dgspec.json
/KafkaProducer/KafkaProducer2/obj/KafkaProducer2.csproj.nuget.g.props
/KafkaProducer/KafkaProducer2/obj/KafkaProducer2.csproj.nuget.g.targets
/KafkaConsumer/.vs/KafkaConsumer/v16/TestStore/0/000-0000.testlog
/KafkaProducer/.vs/KafkaProducer2/v16/TestStore/0/000-0000.testlog
/KafkaProducer/KafkaProducer2/bin/Debug/netcoreapp2.0/log4net.config.xml
/KafkaConsumer/KafkaConsumer/bin/Debug/netcoreapp2.0/log4net.config.xml
